<a class = "post-link" href = "/post/{{id}}">
    <div class = "card">
        <h2 class = "card-header">
            {{title}}
            <span class = "card-creater">
                Created by {{user.username}} on {{format_date created_at}}
            </span>
        </h2>
        <p class = "card-text">{{text}}</p>
        <h3 class = "num-comments">{{comments.length}} {{format_plural "comment"}}</h3>
    </div>
</a>