<div class = "header">
    <nav>
        <a href = "/">Homepage</a>
        <a href = "/dashboard">Dashboard</a>
        {{#if loggedIn}}
            <a href = "/login">Login</a>
        {{else}}
            <a id = "logout">Logout</a>
        {{/if}}
    </nav>
    <h1 id = "title">The Tech Blog</h1>
</div>


<div class = "card-container">
    <div class = "card">
        <h2 class = "card-header">
            {{post.title}}
            <span class = "card-creater">
                Created by {{post.user.username}} on {{format_date post.created_at}}
            </span>
        </h2>
        <p class = "card-text">{{post.content}}</p>
        <h3 class = "num-comments">{{post.comments.length}} comment(s)</h3>
    </div>
    <div>
        
        <div class = "comments">
             {{#each post.comments}}
             <div class = "comment">
                 <p class = "comment-author">{{user.username}} on {{format_date created_at}}</p>
                 <h2 class = "comment-text">{{comment_text}}</h2>
             </div>
             {{/each}}
        </div>

        <form class = "comment-form">
            <div>
                <textarea name = "comment-box" id = "comment-box" rows="3" cols = "50"></textarea>
            </div>
            <div>
                <button id = "add-comment" type = "submit">Add comment</button>
            </div>
        </form>

    </div>
</div>
